<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">CryptoQuest</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <ng-template [ngIf]="userService.loggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="/chals" routerLinkActive="active"><fa-icon [icon]="['fas', 'list-ol']"></fa-icon> Challenges</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rules" routerLinkActive="active"><fa-icon [icon]="['fas', 'info-circle']"></fa-icon> Rules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ranking" routerLinkActive="active"><fa-icon [icon]="['fas', 'signal']"></fa-icon> Ranking</a>
        </li>
        <li class="nav-item" *ngIf="userService.admin">
          <a class="nav-link" routerLink="/users" routerLinkActive="active"><fa-icon [icon]="['fas', 'users']"></fa-icon> Users</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            <fa-icon [icon]="['fas', 'user-cog']"></fa-icon> {{ userService.name }}
          </a>
          <div class="dropdown-menu dropdown-menu-right text-center">
            <a class="dropdown-item" routerLink="/profile" routerLinkActive="active"><fa-icon [icon]="['fas', 'user']"></fa-icon> Profile</a>
            <a class="dropdown-item" href="#" (click)="logout()"><fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon> Logout</a>
          </div>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
